.page-header {
	border-bottom:none;
	padding-bottom:0;
}

.thumb {
	float:left;
	width:100px;
	height:200px;
	margin-right:10px;
}

#sidebar {
	padding:10px 15px;
}

#login-form {
	text-align: center;
}
