{% macro nav_li(endpoint, name) %}
	{%- if url_for(endpoint) == request.script_root + request.path -%}
		<li class="active"><a href="{{ url_for(endpoint) }}">{{ name|safe }}</a></li>
	{%- else -%}
		<li><a href="{{ url_for(endpoint) }}">{{ name|safe }}</a></li>
	{%- endif -%}
{% endmacro %}<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}UNTITLED{% endblock %} | SecretBooru</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
	{% block css %}<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />{% endblock %}
</head>
<body>
	<div class="container-fluid">
		<header id="header" class="page-header" role="header">
			<div class="navbar" role="navigation">
				<div class="navbar-inner">
					<a class="brand" href="{{ url_for('home') }}">SecretBooru</a>
					<ul class="nav">
						{% if 'password' in session %}
						{#{{ nav_li('home', 'Upload') }}#}
						{{ nav_li('import_', 'Import') }}
						{{ nav_li('posts', 'Posts') }}
						{% endif %}
					</ul>
					<form class="navbar-search pull-right" action="{{ url_for('posts') }}" method="GET">
						<input type="text" name="q" class="search-query" placeholder="Search">
					</form>
				</div>
			</div>
		</header>
		<div class="row-fluid" id="content" role="main">
			
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<p class="alert alert-error">{{ message }}</p>
				{% endfor %}
			{% endif %}
			{% endwith %}
			
			{% block fullcontent %}
			Oops, looks like I forgot to override this block...<br />
			If you're not me, please <a href="http://twitter.com/uppfinnarn" target="_blank">tell me</a>!
			{% endblock %}
		</div>
	</div>
</body>
</html>
