{% extends "two-columns.html" %}
{% block title %}Viewing Post{% endblock %}
{% block body_after %}
	<script type="text/javascript">
		$('#modal-delete-confirm').click(delete_self)
		$('#modal-save-confirm').click(function(e) { $('#save-form').submit() })
	</script>
{% endblock %}
{% block sidebar %}
	<li class="nav-header">Tags</li>
	{% for tag in post.get_tags() %}
		<li class="tag-{{ tag.type }}"><a href="{{ url_for('tag', id=tag.id)}}">{{ tag.name }}</a></li>
	{% endfor %}
	
	<li class="nav-header">Actions</li>
	<li><a href="#edit-modal" role="button" data-toggle="modal">Edit</a></li>
	<li><a href="#delete-modal" role="button" data-toggle="modal">Delete</a></li>
{% endblock %}
{% block content %}
	<div id="delete-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete-model-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="delete-model-label">Delete this post?</h3>
		</div>
		<div class="modal-body">
			<p>When you delete a post, all of the following is gone forever:</p>
			<ul>
				<li>The image files (after they are overwritten with zeroes).</li>
				<li>The database record (including the image's unique encryption key).</li>
				<li>Tags containing only this post.</li>
			</ul>
			<p>Restoring a deleted post should prove VERY difficult.</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-danger" id="modal-delete-confirm">Delete</button>
		</div>
	</div>
	
	<div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-model-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="edit-model-label">Edit Post</h3>
		</div>
		<div class="modal-body">
			<form id="save-form" class="form-horizontal" action="." method="POST">
				<div class="control-group">
					<label class="control-label" for="tags">Tags</label>
					<div class="controls">
						<textarea name="tags" id="tags" class="input-block-level" rows="10">{{ post.get_tags_string() }}</textarea>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary" id="modal-save-confirm">Save</button>
		</div>
	</div>
	
	<img src="image" />
{% endblock %}