{% extends "one-column.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
<div class="clearfix">
	{% for post in posts %}
	<a class="thumb" href="{{ url_for('post', id=post.id) }}">
		<img src="{{ url_for('thumb', id=post.id) }}" />
	</a>
	{% endfor %}
</div>
<div class="pagination">
	<ul>
		<li{% if page == 0 %} class="disabled"{% endif %}>
			<a{% if page > 0 %} href="?p={{ page - 1 }}"{% endif %}>&laquo;</a>
		</li>
		
		{% for n in range(1,pages+1) %}
		<li{% if page == n %} class="active"{% endif %}>
			<a href="?p={{ n }}">{{ n }}</a>
		</li>
		{% endfor %}
		
		<li{% if page == pages %} class="disabled"{% endif %}>
			<a{% if page < pages %} href="?p={{ page + 1 }}"{% endif %}>&raquo;</a>
		</li>
	</ul>
</div>
{% endblock %}